tr[data-gateway_id="muggle_pay_methods"],
tr[data-gateway_id="usdt_methods"],
tr[data-gateway_id="usdc_methods"],
tr[data-gateway_id="eth_methods"],
#muggle_pay_methods.woocommerce-item__payment-gateway,
#usdt_methods.woocommerce-item__payment-gateway,
#usdc_methods.woocommerce-item__payment-gateway,
#eth_methods.woocommerce-item__payment-gateway {
    display: none;
}

.mpwp-custom-payment_gateway .titledesc {
    display: none;
}

.mpwp-custom-payment_gateway tr[valign="top"] {
    display: inline-block;
}